html body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
}

/************************
******HEADER*************
************************/

header{
  height: 100px;
  background: #00A6FF;
  padding: 0 20px;
  color: #fff;
}

header h1{
  float: right;
  line-height: 100px;
  margin: 0;
}

header ul{
  line-height: 100px;
  margin: 0;
}

header li{
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
}
header a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: .7s;
}

/************************
*****SCOIAL BAR*************
************************/
.Social{
  float: right;
  position: fixed;
  top: 220px;
  right: 15px;
  transform: translate(0, -50%);
  padding: 15px;
  background: #00A6FF;
  border-radius: 10px;
  transition: .7s;
  z-index: 999;
}

.Social a{
  display: block;
  font-size: 46px;
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

/************************
*****Container/Content***
************************/
input[type=radio]{
   display:none;
}


.Container{
  position: relative;
  display: block;
  max-width: 95%;
  min-height: auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.Container label {
  display: block;
  float: left;
  width: 23%;
  padding: 10px 30px;
  background: #fff;
  border-top: #bdbdbd 1px solid;
  border-right: #bdbdbd 1px solid;
  border-left: #bdbdbd 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
  color: #00A6FF;
  text-align: center;
  cursor: pointer;
  transition: .7s;
}

.Content{
  height: auto;
  width: 100%;
  overflow: auto;
  background: rgba(0, 166, 255);
  padding: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  display: none;
}

article h1{
  text-decoration: underline;
}

article{
  height: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

/************************
*****PATH TAB************
************************/
#Path figure{
  float: left;

}

#Photo{
  border: 2px #fff dashed;
  border-radius: 5px;
  background-color: #bdbdbd;
  padding: 5px;
}


/************************
*****Experience TAB******
************************/

/************************
*****Code TAB************
************************/
#Code figure{
  float: right;
  margin: 1px;
}

#Code .Code_projet{

  min-height: 250px;
  margin-bottom: 20px;
}

/************************
*****Warhammer TAB********
************************/
#banniere_warhammer{
  height: 200px;
  width: 100%
}

/************************
*****Nba TAB*************
************************/
#Nba figure{
  float: left;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
}



/************************
*****ACTIONS*************
************************/
header a:hover,
.Social a:hover,
.Container label:hover{
  color: #050F5C;
}

#Path_check:checked~ #Path,
#Studies_check:checked~ #Studies,
#Experience_check:checked~ #Experience,
#Code_check:checked~ #Code,
#Warhammer_check:checked~ #Warhammer,
#Nba_check:checked~ #Nba{
  display: block;
}

#Path_check:checked + label,
#Studies_check:checked + label,
#Experience_check:checked + label,
#Code_check:checked + label,
#Warhammer_check:checked + label,
#Nba_check:checked + label{
  background: rgba(0, 166, 255);
  color: #fff;
}
