*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/************************
******HEADER*************
************************/

header{
  height: 100px;
  background: #00A6FF;
  padding: 0 20px;
  color: #fff;
}

header h1{
  float: right;
  line-height: 100px;
}

header ul{
  line-height: 100px;
}

header li{
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
}
header a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: .7s;
}

/************************
*****SCOIAL BAR*************
************************/
.Social{
  float: right;
  position: sticky;
  top: 120px;
  margin-right: 10px;
  padding: 5px;
  background: #00A6FF;
  border-radius: 10px;
  transition: .7s;
  z-index: 999;
}

.Social li{
  list-style-type: none;
}

.Social a{
  font-size: 46px;
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

/************************
*****Container/Content***
************************/
input[type=radio]{
   display:none;
}

.Bar{
  width: 100%;
  height: 20px;
  background: rgba(0, 166, 255);
  border-top-right-radius: 20px;
}

.Container{
  position: relative;
  min-width: 900px;
  height: 400px;
  display: block;
  margin: 50px 100px 100px 25px;
}

.Container li {
  margin-right: 0;
  padding: 10px 30px;
  display: inline-block;
  list-style-type: none;
  background: #fff;
  border-top: #bdbdbd 1px solid;
  border-right: #bdbdbd 1px solid;
  border-left: #bdbdbd 1px solid;
  text-transform: uppercase;
  color: #00A6FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Container label{
    cursor: pointer;
    transition: .7s;
}

.Content{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 166, 255);/*linear-gradient(0.25turn, #C8FFD1,#ffffff,#C8FFD1);*/
  padding: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0;
  display: none;
}

article{
  height: 100%;
  width: 95%;
  padding-left: 20px;
  text-align: justify;
}

/************************
*****ACTIONS*************
************************/
header a:hover,
.Social a:hover,
.Container label:hover{
  color: #050F5C;
}

#Path_check:checked~ #Path,
#Studies_check:checked~ #Studies,
#Experience_check:checked~ #Experience,
#Code_check:checked~ #Code,
#Warhammer_check:checked~ #Warhammer,
#Nba_check:checked~ #Nba{
  display: block;
}

#Path_check:checked~ ul li[id^="Path"],
#Studies_check:checked~ ul li[id^="Studies"],
#Experience_check:checked~ ul li[id^="Experience"],
#Code_check:checked~ ul li[id^="Code"],
#Warhammer_check:checked~ ul li[id^="Warhammer"],
#Nba_check:checked~ ul li[id^="Nba"]{
  background: rgba(0, 166, 255);
  color: #fff;
}
