*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header{
  height: 100px;
  background: #00A6FF;
  padding: 0 20px;
  color: #fff;
}

header h1{
  float: right;
  line-height: 100px;
}

header ul{
  line-height: 100px;
}

header li{
  list-style-type: none;
  display: inline;
  text-transform: uppercase;
}
header a{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: .7s;
}
header a:hover, .Social a:hover{
  color: #050F5C;
}

.Social{
  float: right;
  position: sticky;
  top: 120px;
  margin-right: 10px;
  padding: 5px;
  background: #00A6FF;
  border-radius: 10px;
  transition: .7s;
}

.Social li{
  list-style-type: none;
}

.Social a{
  font-size: 46px;
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

.Container{
  position: relative;
  width: 900px;
  height: 400px;
  display: block;
  margin: 50px 100px 0 25px;
  padding: 20px;
  background-color: rgba(13, 255, 209, .1);
  border-radius: 40px;
}

.Container li {
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
}
.Container label{
    cursor: pointer;
}
article{
  height: 100%;
  width: 100%;
}
/************************
*****ACTIONS*************
************************/

#first_check:checked~ #Path{
  z-index: 999;
}
#first_check:checked~ #Studies{
  z-index: 0;
}
#first_check:checked~ #Experience{
  z-index: 0;
}

#second_check:checked~ #Path{
  z-index: 0;
}
#second_check:checked~ #Studies{
  z-index: 999;
}
#second_check:checked~ #Experience{
  z-index: 0;
}

#third_check:checked~ #Path{
  z-index: 0;
}
#third_check:checked~ #Studies{
  z-index: 0;
}
#third_check:checked~ #Experience{
  z-index: 999;
}
